## Import library

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter 
import seaborn as sns
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder,  LabelEncoder
from sklearn.model_selection import train_test_split


from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier

## Test the correlation between variable
We used two correlation test which are:
Kendall correlationship coefficient - a statistic used to measure the ordinal association between two measured quantities
Pearson correlationship coefficient - a measure of linear correlation between two sets of data. It is the ratio between the covariance of two variables and the product of their standard deviations

Below shows the value of coeeficient between values.
From the data, we can see that

In [3]:
df = pd.read_csv("dataset/travel_insurance_data_set.csv")

tmp = df[["Duration" , "Gender", "Net Sales", "Commision (in value)"]]
print(tmp.info())

corr = tmp.corr(method ='pearson')
corr

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63326 entries, 0 to 63325
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Duration              63326 non-null  int64
 1   Gender                18219 non-null  object
 2   Net Sales             63326 non-null  float64
 3   Commision (in value)  63326 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.9+ MB
None

                      Duration  Net Sales  Commision (in value)
Duration              1.000000   0.429235              0.344772
Net Sales             0.429235   1.000000              0.651315
Commision (in value)  0.344772   0.651315              1.000000